<div class="card-container">
  <div #coordinatesSpy="cardCoordinatesSpy"
       #divElement (click)="toggleCard(divElement, coordinatesSpy)"
       [@cardToggle]="isExpanded ? 'expanded' : 'collapsed'"
       appCardCoordinatesSpy
       class="card card-appearance card-initial-position card-transitions">
    <div class="card-cover">
      <ng-content select="card-cover"></ng-content>
    </div>
    <div *ngIf="isExpanded" class="card-story">
      <ng-content select="card-story"></ng-content>
    </div>
  </div>
</div>
